<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title>{% block title %}TribalConnect Hub{% endblock %}</title>

  <!-- Static CSS -->
<link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
<img src="{{ url_for('static', path='images/tribalconnect-banner.png') }}"
    alt="TribalConnect" class="h-10 w-auto">


  {% block head_extra %}{% endblock %}
</head>
<body>
  <header>
    <h1><a href="/">TribalConnect Hub</a></h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/login">Login</a> |
      <a href="/members">Members</a> |
      <a href="/departments">Departments</a> |
      <a href="/businesses">Businesses</a> |
      <a href="/tribes-html">Tribes</a> |
      <a href="/tribes-admin">Tribes Admin</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 TribalConnect Hub</p>
  </footer>

  {% block scripts %}{% endblock %}
</body>
</html>
